<div class="navbar">
    <a [routerLink]="['home']">INICIO</a>
    <a [routerLink]="['datos']">DATOS</a>
    <a [routerLink]="['contacto']">CONTACTO</a>
    <a [routerLink]="['agenda']">AGENDA</a>  
</div>
