.cuerpo{
  /* background-size: cover; */
  background-image: linear-gradient(
    to right, rgba(141, 137, 137, 0.2) 0%, rgba(65, 43, 43, 0.2) 100%
    ),
    url(../../../../assets/img/sa12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
}

h1 {
  float: right;
  color: white;
  font-size: 40px;
}

.descripcion{
  resize: none;
}

.form-contenido{
  width: 40%;
  margin: 4% auto;
  padding: 1em;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
}

.cajas-dia{
  width: 45% ;
  margin: 1% 2%;
  color: white;
}

.cajas{
  width: 95%;
  margin: 1% auto;
  color: white;
}

.cajas mat-label{
  color: white;
}

.btn{
  padding: 3%;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  color: white;
}

.is-invalid{
  border: 1px solid #ff0000a6;
}

.cajas-btn {
  text-align: center;
  width: 85px ;
  height: 50px;
  margin: 3% 4%;
  font-family: cursive;
  color: rgb(70, 24, 24);
  background-color: rgb(255, 255, 255);
}

.advertencia{
font-weight: 600;
  color: #ff0000a6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.derecha {
  float: right;
}

mat-label {
  color: white;
}