#portada {
  background-image: linear-gradient(
    to right, rgba(34, 9, 9, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%
    ),
    url(../../../assets/img/14381.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  padding: 4%;
  
}
a{
  color: white;
  text-decoration: none;
}

#datos {
  color: white;
  width: 60%;
  float: right;
  padding: 1%;
  margin: 2% 0%;
}

#foto-port {
  width: 35%;
  float: left;
  text-align: center;
  display: flex;
}

#nombre {
  position: relative;
  animation: glitch 5s 5s infinite;
  font-size: 8vh;
  font-weight: 250;
}

img {
  /* width: 5vh; */
  margin: 1% auto;
}
ul{
  margin-top:4%;
  display: inline-flex;
  justify-content: space-around;
}
ul li { 
  list-style: none;
  margin: 3% 6%;
}

ul li b {
  font-size: 15px;
  padding: 14%;
  margin: 6% 1%;
  width: 7%;
}

ul li i{
  height: 4px;
  width: 7%;
  /* margin-right: 1%; */
  font-size: 20px;
}

.sobre-mi {
  font-size: 19px;
  padding: 2% 1% 2% 5%;
  margin: 3% 0% 2% -6%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  width: 90%;
}


.sobre-mi h3{
  font-size: 220%;
}

#foto-port img{
  width: 100%;
  border-radius: 500px;
  float: left;
}
