#contenedor {
	background-size: cover;
	background-image: url(../../../assets/img/987654.jpg);
  }
  
  
  
  #educacion,
  #competencias,
  #complementaria,
  #idiomas {
	width: auto;
	padding: 2%;
  }
  
  h2 {
	/* float: left; */
	color: rgba(112, 111, 111, 0.678);
	font-size: 350%;
	margin: 2% 15px;
	font-weight: 900;
  }
  
  p {
	margin: 2% 5%;
	font-size: 23px;
	font-weight: 600;
	color: white;
  }
  
  .lugar {
	font-size: 190%;
	color: rgb(209, 206, 206);
  
	font-weight: 600;
	margin: 1%;
  }
  
  @media (max-width:450px){
	form{
	  padding: 3.5em 1em ;
	}
  }
  
  @media (max-width:768px) {
  
	h2 {
	  font-size: 30px;
	}
  
	p,
	li {
	  font-size: 15px;
	  margin: 4px 20px;
	}
  
	.lugar {
	  margin-top: 6%;
	}
  }
  
  
  
  
  
  
  
  